.mainHeader {
  text-align: center;
  height: 60px;
  width: 100%;
  color: white;
  font-size: 32px;
  font-weight: 700;
  padding-top: 25px;
  background: linear-gradient(to right, #295a90, #508667);
}

.search-form {
  display: flex;
  padding: 10px;
  height: 40px;
}

.search-container input {
  width: 100%;
  padding-left: 10px;
  border: none;
  border:solid 1px #C0C0C0;
  border-radius: 5px;
}

.search-container button {
  height: 40px;
  padding: 6px 10px;
  margin-left: 10px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: #599460;
  color: white;
  border-radius: 5%;
}

.results {
  padding: 20px;
}