.mainHeader {
  text-align: center;
  height: 60px;
  width: 100%;
  color: white;
  font-size: 32px;
  font-weight: 700;
  padding-top: 25px;
  background: linear-gradient(to right, #295a90, #508667);
}

.search-form {
  display: flex;
  padding: 10px;
  height: 40px;
}

.search-container input {
  width: 100%;
  padding-left: 10px;
  border: none;
  border:solid 1px #C0C0C0;
  border-radius: 5px;
}

.search-container button {
  height: 40px;
  padding: 6px 10px;
  margin-left: 10px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: #599460;
  color: white;
  border-radius: 5%;
}

.searching {
  padding: 0 20px;
}

.results {
  width: 100%;
  padding: 0 20px;
}

.WasteItem-row {
  vertical-align: top;
}

.WasteItem-row td {
  padding-bottom: 30px;
}

.WasteItem-body {
  width: 60%;
}

.WasteItem-body ul {
  margin: 0;
}

.faves {
  background-color: #f8fefa;
  width: 100%;
}

.faves h2 {
  padding: 20px;
  color: #62a072;
}

.fav-button {
  border: none;
  background: inherit;
}

.isFave {
  color: #599460;
}

.isNotFave {
  color: #aaaaaa;
}